@model StudentSystemWeb.Models.IssizlikOrani

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IssizlikOrani</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toplam1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toplam1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toplam2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toplam2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erkek1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erkek1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erkek2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erkek2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kadın1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kadın1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kadın2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kadın2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToplamOran1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToplamOran1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToplamOran2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToplamOran2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErkekOran1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErkekOran1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErkekOran2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErkekOran2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KadınOran1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KadınOran1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KadınOran2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KadınOran2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
