@model IEnumerable<StudentSystemWeb.Models.IssizlikOrani>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Toplam1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toplam2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erkek1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erkek2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kadın1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kadın2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToplamOran1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToplamOran2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErkekOran1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErkekOran2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KadınOran1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KadınOran2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Toplam1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Toplam2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Erkek1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Erkek2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kadın1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kadın2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToplamOran1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToplamOran2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErkekOran1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErkekOran2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KadınOran1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KadınOran2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

