@model IEnumerable<StudentSystemWeb.Models.IssizlikOrani>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<form asp-action="Details" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Details">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["Acıklama"]">Açıklama</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["Toplam2019"]">Toplam 2019</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["Toplam2020"]">Toplam 2020</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["Erkek2019"]">Erkek 2019</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["Erkek2020"]">Erkek 2020</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["Kadın2019"]">Kadın 2019</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["Kadın2020"]">Kadın 2020</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["ToplamOran2019"]">Toplam Oran 2019</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["ToplamOran2020"]">Toplam Oran 2020</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["ErkekOran2019"]">Erkek Oran 2019</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["ErkekOran2020"]">Erkek Oran 2020</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["KadınOran2019"]">Kadın Oran 2019</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["KadınOran2020"]">Kadın Oran 2020</a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Toplam1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Toplam2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Erkek1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Erkek2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kadın1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kadın2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToplamOran1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToplamOran2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErkekOran1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErkekOran2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KadınOran1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KadınOran2)
                </td>
            </tr>
        }
    </tbody>
</table>

