@model IEnumerable<StudentSystemWeb.Models.StudentData>

@{
    ViewData["Title"] = "Index";
}

<h1>Student List</h1>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<p>
    <a class="btn btn-primary " asp-action="Create">
        Create
    </a>
</p>
<div class="">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    Surname
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-size" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-secondary btn-size" })

                        <button class="btn btn-danger delete btn-size"
                                data-id="@item.Id"
                                data-controller="Home"
                                data-action="Delete"
                                data-body-message="Are you sure you want to delete it?">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
